

.col{
    /* background-color: blueviolet; */
    width: 30%;            
    border-radius: 25px;
    margin: 1%;
}
footer,#footlist{
    list-style: none;

}
#footer{
    display: flex;
    padding: 20px;
    justify-content:space-evenly;
    height: 200px;
}
footer{
    background-color: rgb(86, 18, 149);
    height: 250px;
}

p{
    text-align: center;
    font-size:large;
    color:brown
    }

