{% extends 'base.html' %}
{% load static %}
{% block title %}
HOME PAGE
{% endblock %}


{% block content %}

<body>
    {% include 'header.html' %}
<main>
    <h1>Hi! Welcome to our blog</h1>
    <div>
        <h2>Introduction to Django Login Validation</h2>
        <blockquote>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quibusdam deserunt earum perferendis eligendi possimus dolor, quis maiores, aspernatur adipisci quas, laborum porro! Autem in officiis laborum eum cum aspernatur.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quibusdam deserunt earum perferendis eligendi possimus dolor, quis maiores, aspernatur adipisci quas, laborum porro! Autem in officiis laborum eum cum aspernatur.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quibusdam deserunt earum perferendis eligendi possimus dolor, quis maiores, aspernatur adipisci quas, laborum porro! Autem in officiis laborum eum cum aspernatur.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quibusdam deserunt earum perferendis eligendi possimus dolor, quis maiores, aspernatur adipisci quas, laborum porro! Autem in officiis laborum eum cum aspernatur.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quibusdam deserunt earum perferendis eligendi possimus dolor, quis maiores, aspernatur adipisci quas, laborum porro! Autem in officiis laborum eum cum aspernatur.
        </blockquote>
    </div>
</main>
    
<footer id="siteFooter">
    <div id="footer">
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem laborum officiis veniam eum ab tempore distinctio earum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem laborum officiis veniam eum ab tempore distinctio earum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem laborum officiis veniam eum ab tempore distinctio earum.
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem laborum officiis veniam eum ab tempore distinctio earum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem laborum officiis veniam eum ab tempore distinctio earum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem laborum officiis veniam eum ab tempore distinctio earum.
        </div>
        <ul  id="footlist">
            <li> <a href="#"> Home</a> </li>
            <li> <a href="#">About</a> </li>
            <li> <a href="#">Blog</a> </li>
            <li> <a href="#">Contact</a> </li>
        </ul>
        
    </div>
    <p> copyright @ 2022 Abidemi Aminat Adebowale</p>
</footer>  
{% endblock %}