{% extends 'base.html' %}
{% load static %}
	{% block title %}
	Password Reset Page
	{% endblock %}
	{% block link %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	{% endblock %}

{% block content %}
<body class="form-v2">
	{% include 'header.html' %}
	<div class="page-content">
		<div class="form-v2-content">
			<div class="form-left">
				<img src="{% static 'images/form-v2.jpg' %}" alt="form">
				<div class="text-1">
					<p>Password<span>Reset</span></p>
				</div>
				<div class="text-2">
					<p><span>Fill in the </span>/ Form</p>
				</div>
			</div>
			
			<form class="form-detail"  method="POST" id="myform" >
				{% csrf_token %}
				<h2>Password Reset</h2>
				{% if messages %}
				{% for m in messages %}
					<div class="alert alert-danger">{{ m }} </div>
				{% endfor %}
			{% endif %}
			
			<div class="contact-form-box">
				{{ form.as_p}}
				
				<div class="form-row-last">
					<input type="submit" class="register" value="Submit">
				</div>

			</form>
			
		</div>
	</div>
{% endblock %}